*, .footer, .main_div,
.empty_div,
.sidebar_div, .header {
  margin: 0;
  padding: 0;
}

.footer, .main_div,
.empty_div,
.sidebar_div, .header {
  width: 100%;
  height: 80px;
  font-size: 30px;
  padding: 89px 0;
  text-align: center;
  background-color: #F49D3B;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  border-radius: 10px;
}

* {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_div {
  background-color: rgba(163, 163, 243, 0.5803921569);
}

.empty_div {
  background-color: #fff;
}

.sidebar_div {
  background-color: rgba(243, 79, 79, 0.7);
}

.footer {
  background-color: rgb(76, 154, 76);
}