._container {
    width:100%;
}
.row {
    
}
.col-12 {
    padding: 30px 0;
}
.bg-warning {
}
.text-center {
}
.font-weight-bold {
}
.col-6 {
    padding: 30px 0;
}
.bg-info {
}
.col-3 {
    padding: 30px 0;
}
.bg-danger {
}
.bg-success {
}
