
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header {
    background-color: orange;
}
.row h1{
    margin-top: 50px;
}
.row .main{
    background-color: blue;
}
.row .empty {
    background-color: white;
}
.row .sidebar{
    background-color: rgb(222, 133, 163);
    height: 21  0px;
}
.footer {
    background-color: green;
}